.content-inset {
	max-width: 730px;
	margin: 0 auto;
}

p,
ul,
a {
	font-family: "neue-haas-grotesk-text", arial, sans-serif;
	text-decoration: none;
}
header p,
header a,
h1,
h2,
h3,
footer p,
footer a {
	font-family: paralucent, arial, sans-serif;
}

header {
	padding: 7rem 0 8rem;
	background: #b4d8e0;
	color: #005148;
	text-align: center;
}
header .contact {
	padding-top: 6rem;
}
header h1 {
	font-size: 5rem;
	font-weight: 600;
	margin-bottom: 2rem;
	letter-spacing: -1px;
}
header p {
	line-height: 1.25em;
	font-size: 3rem;
}
header p strong {
	display: block;
	font-weight: 600;
	margin-bottom: 2rem;
}
header p a {
	color: #005148;
	text-decoration: none;
}
header p a:hover {
	color: #005148;
	text-decoration: underline;
}

main {
	background: #fff;
	color: #005148;
}
main .memo {
	padding-top: 7rem;
	padding-bottom: 8rem;
}
main .what-to-expect {
	padding-top: 7rem;
	padding-bottom: 8rem;
	background: #fdf7e3;
}

main h2 {
	font-weight: 400;
	font-size: 3rem;
	margin-bottom: 4rem;
}

main h3 {
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 1rem;
}

main p.date {
	font-size: 1.125rem;
	font-style: italic;
	margin-bottom: 1.5rem;
}
main p,
main li {
	font-size: 1.375rem;
	margin-bottom: 2rem;
	line-height: 1.5em;
}
main ul {
	margin-left: 1rem;
}
main ul li {
	margin-bottom: 1rem;
	margin-left: 1rem;
	padding-left: 0.5rem;
	list-style: disc;
}
main p a {
	color: #000aff;
}
main p a:hover {
	color: #000aff;
	text-decoration: underline;
}

footer {
	background: #005148;
	padding: 3rem 0;
	text-align: center;
}
footer p {
	font-size: 2rem;
	color: #fdf7e3;
	line-height: 1.5em;
}
footer p a {
	color: #fdf7e3;
	text-decoration: none;
}
footer p a:hover {
	color: #fdf7e3;
	text-decoration: underline;
}

@media only screen and (max-width: 764px) {
	html {
		font-size: 14px;
	}
	h1 {
		font-size: 4rem !important;
	}
	h2 {
		font-size: 2.5rem !important;
	}
	.content-inset {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
