.content-inset {
	max-width: 730px;
	margin: 0 auto;
}

p,
ul,
a {
	font-family: "neue-haas-grotesk-text", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}
header p,
header a,
h1,
h2,
h3,
footer p,
footer a {
	font-family: paralucent, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

nav a:hover,
nav a:active {
	color: #00312b !important;
}

nav {
	background: #b4d8e0;
	font-weight: bold;
	display: flex;
	padding: 2rem 5.5rem;
	align-items: center;
}
nav div.brand {
	font-size: 1.5rem;
	margin-right: 2rem;
}
nav div.brand a {
	color: #215248;
}
nav ul.nav-list {
	font-size: 1.125rem;
	text-align: left;
}
nav ul.nav-list li {
	display: inline-block;
	margin: 0 2rem;
}
nav ul.nav-list li a {
	color: #215248;
}
nav .hamburger {
	display: none;
}

header {
	padding: 7rem 0 8rem;
	background: #b4d8e0;
	color: #005148;
	text-align: center;
}
header .contact {
	padding-top: 6rem;
}
header h1 {
	font-size: 5rem;
	font-weight: 600;
	margin-bottom: 2rem;
	letter-spacing: -1px;
}
header p {
	line-height: 1.25em;
	font-size: 3rem;
}
header p strong {
	display: block;
	font-weight: 600;
	margin-bottom: 2rem;
}
header p a {
	color: #005148;
	text-decoration: none;
}
header p a:hover {
	color: #005148;
	text-decoration: underline;
}

main {
	background: #fff;
	color: #005148;
}
main .memo {
	padding-top: 7rem;
	padding-bottom: 8rem;
}

main .what-to-expect {
	padding-top: 7rem;
	padding-bottom: 8rem;
	background: #fdf7e3;
}

h2 {
	font-weight: 300;
	font-size: 3rem;
	margin-bottom: 4rem;
}

main h3 {
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 4rem;
}

main p.date {
	font-size: 1.125rem;
	font-style: italic;
	margin-bottom: 1.5rem;
}
main p,
main li {
	font-size: 1.375rem;
	margin-bottom: 2rem;
	line-height: 1.6em;
}
main h3 + ul {
	margin-top: 2rem;
}
main ul {
	margin-left: 1rem;
	margin-bottom: 4rem;
}
main ul li {
	margin-bottom: 1rem;
	margin-left: 1rem;
	padding-left: 0.5rem;
	list-style: disc;
}
main ul li ul {
	margin: 1rem 0 0 2rem;
}
main ul.no-icon {
	margin-left: 0;
}
main ul.no-icon li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
main .two-column {
	column-count: 2;
	margin-top: 3rem;
}
main .two-column div {
	break-inside: avoid-column;
}
main .two-column div > h3 {
	margin-top: 0;
}

main a,
main a:visited {
	color: #000aff !important;
}
main a:hover {
	color: #000699;
	text-decoration: underline;
}

footer {
	padding: 7rem 0 8rem;
	background: #005148;
	color: #fdf7e3;
	text-align: center;
}
footer .contact {
	padding-top: 6rem;
}
footer h1 {
	font-size: 5rem;
	font-weight: 600;
	margin-bottom: 2rem;
	letter-spacing: -1px;
}
footer p {
	color: #fdf7e3;
	line-height: 1.25em;
	font-size: 3rem;
}
footer p strong {
	display: block;
	font-weight: 600;
	margin-bottom: 2rem;
}
footer a,
footer a:visited {
	color: #fdf7e3;
	text-decoration: none;
}
footer a:hover {
	color: #fefaee;
	text-decoration: underline;
}

.interior header {
	background: #fff;
}

@media only screen and (max-width: 764px) {
	nav ul.nav-list {
		clear: both;
		display: block;
		padding-top: 1rem;
	}

	html {
		font-size: 13px;
	}
	nav {
		display: block;
		padding: 2rem 1rem;
		align-items: center;
	}
	nav div.brand {
		text-align: left;
		float: left;
	}
	nav div.brand:after {
		content: "";
	}
	nav ul.nav-list {
		font-size: 1.125rem;
		text-align: center;
		margin: 0;
		display: none;
	}
	nav ul.nav-list.nav-showing {
		display: block;
	}
	nav ul.nav-list li {
		margin: 1rem;
		display: block;
	}
	nav div.hamburger {
		display: block;
		float: right;
	}
	nav.div.hamburger a.icon i {
		font-size: 1.5rem;
		color: #fff;
	}
	.fa {
		font-size: 1.5rem;
		color: #005148;
	}
	h1 {
		font-size: 3.5rem !important;
	}
	h2 {
		font-size: 2.5rem !important;
	}
	.content-inset,
	header {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.two-column {
		column-count: 1 !important;
	}
}
